@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.carousel {
	margin-left: 75px;
	margin-right: 75px;
	cursor: grab;
	overflow: hidden;
}

.inner-carousel {
	display: flex;
}

.item {
	min-height: 40rem;
	min-width: 20rem;
	padding: 10px;
}

.item img {
	width: 800px;
	height: 300px;
	border-radius: 2rem;
	pointer-events: none;
}
